body {
    font-family: calibri;
    background-color: red;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

