body {
    font-family: papyrus;
    background-color: blue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: italic;
}

.img-medium {
    height: 200px;
}

